body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

table {
    margin-top: 20px;
    width: 100%;
}

.table th, .table td {
    text-align: center;
}

.btn-success {
    background-color: #28a745;
}

.btn-primary {
    background-color: #007bff;
}

    .btn-primary:hover, .btn-success:hover {
        opacity: 0.8;
    }
